{% if parent %}{% filter italic %}{{parent.tracker.name}} #{{parent.id}}:{{parent.subject}}{% endfilter %}
+--{% endif %}{% filter heading %}{{tracker.name}} #{{id}}{% endfilter %}
{{subject}}
Added by {% filter bold %}{{author.name}}{% endfilter %} {{created_on|ago}}.{% if updated_on %} Updated {{updated_on|ago}}.{% endif %}

{% filter table -%}
{% filter bold %}Status:{% endfilter %}|{{status.name}}|{% filter bold %}Start date:{% endfilter %}|{{start_date|default('--')}}
{% filter bold %}Priority:{% endfilter %}|{{priority.name}}|{% filter bold %}Due date:{% endfilter %}|{{due_date|default('--')}}
{% filter bold %}Assignee:{% endfilter %}|{{assigned_to.name|default('(not assigned)')}}|{% filter bold %}Done:{% endfilter %}|{{done_ratio}}%
{% filter bold %}Estimated time:{% endfilter %}|{{estimated_hours|default('--')}}{% if estimated_hours %} hours{% endif %}|{% filter bold %}Spent time:{% endfilter %}|{{spent_hours|default('--')}}{% if spent_hours %} hour(s){% endif %}
{% endfilter %}

{% filter heading %}DESCRIPTION{% endfilter %}
{{description|default('(no description set)')}}

{%- if journals.length > 0 %}
{% filter heading %}History{% endfilter %}
{% for journal in journals %}
 * Updated by {{journal.user.name}} {{journal.created_on|ago}}.
   {% for detail in journal.details -%}
   {{detail.name}} changed from '{{detail.old_value}}' to '{{detail.new_value}}'.
   {% endfor -%}
{% endfor -%}
{% else -%}
