{% filter heading %}{{tracker.name}} #{{id}}{% endfilter %}
{{subject}}
Added by {{author.name}} {{created_on|ago}}.{% if updated_on %} Updated {{updated_on|ago}}.{% endif %}

{% filter table(['STATUS', 'PRIORITY', 'ASSIGNEE']) -%}
{{status.name}}|{{priority.name}}|{{assigned_to.name|default('(not assigned)')}}
{% endfilter %}

{% filter heading %}DESCRIPTION{% endfilter %}
{{description}}
