{% filter heading %}{{tracker.name}} #{{id}}{% endfilter %}
{{subject}}
Added by {{author.name}} {{created_on|ago}}.{% if updated_on %} Updated {{updated_on|ago}}.{% endif %}

{% filter table(['STATUS', 'PRIORITY', 'ASSIGNEE']) -%}
{{status.name}}|{{priority.name}}|{{assigned_to.name|default('(not assigned)')}}
{% endfilter %}

{% filter heading %}DESCRIPTION{% endfilter %}
{{description|default('(no description set)')}}

{%- if journals.length > 0 %}
{% filter heading %}History{% endfilter %}
{% for journal in journals %}
 * Updated by {{journal.user.name}} {{journal.created_on|ago}}.
   {% for detail in journal.details -%}
   {{detail.name}} changed from '{{detail.old_value}}' to '{{detail.new_value}}'.
   {% endfor -%}
{% endfor -%}
{% else -%}
