{% filter heading %}{{project.name}}{% endfilter %}
{{project.description|default('(no description set)')}}

{% filter heading %}Members{% endfilter %}
{% if Object.keys(roles).length > 0 -%}
{% filter table(['ROLE', 'MEMBER(S)']) -%}
{% for role in roles -%}
{{role.name}}|{% for member in role.members %}{% if !loop.first %}, {% endif %}{{member}}{% endfor %}
{% endfor -%}
{% endfilter -%}
{% else -%}
(no members set)
{% endif %}
